* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(#aef1ee, #d4efa2);
  justify-content: center;
  align-items: center;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  .card {
    width: 614px;
    height: 465px;
  }
}
a {
  text-decoration: none;
}
h2 {
  padding: 0 10px;
}
.survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  .welcomeText {
    width: 80%;
  }
}
.sliderContainer {
  width: 350px;
}

.err {
  font-size: small;
  color: red;
}
.questionRow {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 40px 0;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  margin: 50px 0;
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 37px;
    justify-content: center;
    .paraContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .para {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
      }
    }
  }
}

.slider {
  width: 200px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-around;
}

.resultContainer {
  padding: 25px 0;
}
.resultProgress {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  span {
    margin: 0 40px;
  }
}

@media (max-width: 880px) {
  .card {
    min-height: 75vh;
    width: 90%;
    .para {
      font-size: 14px;
    }
  }
}

@media (max-width: 770px) {
  .sliderContainer {
    width: 288px;
  }
}

@media (max-width: 770px) {
  h2 {
    font-size: 20px;
  }
  .para {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .questionRow {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .card {
    width: 90%;
  }
  .questionRow {
    margin: 16px 0;
  }
  h2 {
    font-size: 18px;
  }
  .sliderContainer {
    width: 200px;
  }
  .form {
    height: 450px;
  }
  h1 {
    font-size: 25px;
  }
}

@media (max-width: 350px) {
  .sliderContainer {
    width: 165px;
  }
}
